p {
  color:blue;
}

body{
    background-color:powderblue;
}
h1{
    font-family: 'Sigmar One', cursive;
    font-size: 3em;

}
h3{
    font-family:'Sigmar One', cursive;
    font-size:1.5em;
}

.description {
    width:600px
}